.projects {
  .title {
    margin: 4rem 2rem;
    h2 {
      color: $desaturated-brown;
    }
  }
  hr {
    border: none;
    height: 1px;
    background-color: $desaturated-brown;
    margin: 2rem 2rem 0;
    opacity: 0.1;
  }
  .project-one {
    background-color: $desaturated-brown;
    h1 {
      color: $gold;
    }
    .project-buttons {
      a {
        button {
          color: $gold;
          border: 1px solid $gold;
        }
      }
    }
  }
  .project-two {
    background-color: $gold;
    h1 {
      color: $desaturated-brown;
    }
    .project-buttons {
      a {
        button {
          color: $maroon;
          border: 1px solid $maroon;
        }
      }
    }
  }
  .project-three {
    background-color: $desaturated-black;
    h1 {
      color: $gold;
    }
    .project-buttons {
      a {
        button {
          color: $gold;
          border: 1px solid $gold;
        }
      }
    }
  }
  .project-card {
    margin: 4rem 2rem;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.459);
    .project-information {
      padding: 1rem;
      h1 {
        margin: 2rem 0 1rem;
      }
      h2 {
        opacity: 0.3;
        color: white;
      }
    }
    .project-image {
      img {
        display: block;
        width: 100%;
      }
    }
    .project-buttons {
      margin: 2rem 0;
      display: flex;
      justify-content: space-between;
      a {
        text-decoration: none;
        button {
          background: transparent;
          border-radius: 10px;
          padding: 0.7rem 2rem;
          text-transform: uppercase;
        }
      }
    }
  }
}
